{% extends "base.html" %}

{% block title %}Files{% endblock %}
{% block page %}Files{% endblock %}
{% block content %}




{% if not validDirectory %}
<br>

<font color = "red"><b>Directory is invalid!</b></font>

{% endif %}

<div id="filesTableDiv">
	<b>Showing contents of:</b> {{currentDir}}
	<br>
	<button id = 'baseDirectoryButton'>Base Directory</button>
	<button id = 'upButton'>Up</button>
	<br>

	<table id="filesTable">
		<thead>
			<tr>
				<th>
					File
				</th>
				<th>
					Type
				</th>
				<th>
					Last Modified
				</th>
			</tr>
		</thead>

		<tbody>	
			{% for entry, entryName, entryType, isFolder, timeModified in entriesList %}

			<tr><td>

				<a href='
				



				{% if isFolder %}

				/files/


				{% else %}

				/media/
				
				{%endif%}





				{{currentURL}}{{entry}}'>{{entryName}}</a>

			</td>
			<td>
				{{entryType}}

			</td>
			<td>
				{{timeModified}}
			</td>
		</tr>
		{%endfor%}

	</tbody>

</table>
</div>

<br><br><br>
<!--
currentDir: {{currentDir}} <br>
entries: {{entries}} <br>
entriesFiles: {{entriesFiles}} <br>
entriesFolders: {{entriesFolders}} <br>
isSubdirectory: {{isSubdirectory}}<br>
-->

{% endblock %}
