{% extends "base.html" %}

{% block title %}Title files.html{% endblock %}
{% block page %}Files{% endblock %}
{% block content %}



<a href="/files/">Base Directory</a>
{% if not validDirectory %}
<br>

<font color = "red"><b>Directory is invalid!</b></font>

{% endif %}

<div id="filesTableDiv">
	<b>Showing contents of:</b> {{currentDir}}

	
	<table id="filesTable">
		<thead>
			<tr>
				<th>
					File
				</th>
				<th>
					Type
				</th>
				<th>
					Date Modified
				</th>
			</tr>
		</thead>

		<tbody>	
			{% for file, fileName, fileExt in entriesFiles %}
			<tr><td>

				<a href='/media/{{currentURL}}/{{file}}'>{{fileName}}</a>

			</td>
			<td>
				{{fileExt}}

			</td>
			<td>
				
			</td>
		</tr>
		{%endfor%}

		{% for folder in entriesFolders %}
			<tr><td>

				<a href='/files/{{currentURL}}{{folder}}/'>{{folder}}</a>

			</td>
			<td>
				
				Folder

			</td>
			<td>
				
			</td>
		</tr>
		{%endfor%}
	</tbody>

</table>
</div>

<br><br><br>

currentDir: {{currentDir}} <br>
entries: {{entries}} <br>
entriesFiles: {{entriesFiles}} <br>
entriesFolders: {{entriesFolders}} <br>
isSubdirectory: {{isSubdirectory}}<br>


{% endblock %}
